@{
    ViewData["Title"] = "Desarrolladores";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .body {
            border-block-color: green;
        }

        .person {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            display: inline-block;
            width: 195px;
        }

            .person img {
                max-width: 70%;
                height: auto;
                border-radius: 20%;
            }
    </style>
</head>
<body>
    <h4><center>Desarrolladores del proyecto</center></h4>
    <div>
        <center>
            <div class="person">
                <img src="https://previews.123rf.com/images/yupiramos/yupiramos1607/yupiramos160702542/59274118-perfil-joven-avatar-masculino-aislado-en-el-fondo-blanco-ilustraci%C3%B3n-vectorial.jpg" alt="" />
                <h5>Velarde Gonzales, Nestor Hernán</h5>
                <p>Desarrollador</p>
            </div>

            <div class="person">
                <img src="https://previews.123rf.com/images/yupiramos/yupiramos1607/yupiramos160702542/59274118-perfil-joven-avatar-masculino-aislado-en-el-fondo-blanco-ilustraci%C3%B3n-vectorial.jpg" alt="" />
                <h5>Chero Emé, Eduardo André</h5>
                <p>Desarrollador</p>
            </div>

            <div class="person">
                <img src="https://previews.123rf.com/images/yupiramos/yupiramos1607/yupiramos160702542/59274118-perfil-joven-avatar-masculino-aislado-en-el-fondo-blanco-ilustraci%C3%B3n-vectorial.jpg" alt="" />
                <h5>Chagray Barrera, Marcelo</h5>
                <p>Desarrollador</p>
            </div>
        </center>
    </div>
    <br />
    <div>
        <center>
            <div class="person">
                <img src="https://previews.123rf.com/images/yupiramos/yupiramos1607/yupiramos160702542/59274118-perfil-joven-avatar-masculino-aislado-en-el-fondo-blanco-ilustraci%C3%B3n-vectorial.jpg" alt="" />
                <h5>Cuya Gil, Jose Alejandro</h5>
                <p>Desarrollador</p>
            </div>

            <div class="person">
                <img src="https://previews.123rf.com/images/yupiramos/yupiramos1607/yupiramos160702542/59274118-perfil-joven-avatar-masculino-aislado-en-el-fondo-blanco-ilustraci%C3%B3n-vectorial.jpg" alt="" />
                <h5>Ochoa Quispe, Franco Sebastian</h5>
                <p>Desarrollador</p>
            </div>

            <div class="person">
                <img src="https://previews.123rf.com/images/yupiramos/yupiramos1607/yupiramos160702542/59274118-perfil-joven-avatar-masculino-aislado-en-el-fondo-blanco-ilustraci%C3%B3n-vectorial.jpg" alt="" />
                <h5>Apellidos y Nombres </h5>
                <p>Desarrollador</p>
            </div>
        </center>
    </div>

</body>
</html>
