@{
    ViewData["Title"] = "Bienvenido";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tu página con fondo</title>
    <style>
        /* Establecer la imagen de fondo de pantalla */
        body {
            background-image: url('https://tecinformamos.com/wp-content/uploads/2023/01/Nissan-X-Trail-2023-Peru.webp');
           
            background-size: cover; /* Ajustar la imagen para que cubra toda la pantalla */
            background-repeat: no-repeat; /* Evitar la repetición de la imagen */
            background-attachment: fixed;  /*Fijar la imagen de fondo */
        }

        /* Estilos para otros elementos en la página */
        .contenido {
            color: #fff; /* Color de texto blanco */
            font-size: 16px;
        }

        /* Puedes agregar más estilos según tus necesidades */


        /* Estilos para otros elementos en tu página */
        .contenido {
            color: #515151; /* Color de texto blanco */
            font-size: 20px;
        }

        /* Puedes agregar más estilos según tus necesidades */
    </style>
</head>
<body>
    <div class="contenido">
        <h3><center>Plan de pagos con el metodo frances</center></h3>
    </div>
    
    
</body>
</html>
