@{
    ViewData["Title"] = "Quienes Somos";
}
<p>Somos estudiantes de la facultad de Ingeniería de la Universidad Peruana De Ciencias Aplicadas, 
    somos de la carrera de Ing. de sistemas y Ing. Software, dicho proyecto se basa en realizar 
    operacione de calculo.
</p>